<%inherit file="../base.html"/>
<%block name="header_section">
	<link href="${static_url('css/dataTables.bootstrap.min.css')}" rel="stylesheet" media="all">
	<script type="text/javascript" charset="iso-8859-1" src="${static_url('js/jquery.dataTables.min.js')}"></script>
	<script type="text/javascript" src="${static_url('js/dataTables.bootstrap.min.js')}"></script>
	<script type="text/javascript" src="${static_url('js/customPaginator.min.js')}"></script>
	<script type="text/javascript">
		$(function(){
			$('.home-menu').addClass('active');
			$('[id*=datatable]').customPaginator({range:[3,5]});
		});
	</script>
</%block>
<%block name="breadcrumbs">
	<ul id="breadcrumbs" class="breadcrumb">
		<li class="active">Inicio</li>
	</ul>
</%block>
<%block name="left_content">
	<div class="rowBox">
		<div class="inner-box">
			<span class="number badge">${mujeres}</span>
			<p class="texto">Mujeres<br/>Registradas</p>
		</div>
		<div class="inner-box">
			<span class="number badge">${embarazos}</span>
			<p class="texto">Mujeres<br/>Embarazadas</p>
		</div>
		<div class="inner-box">
			<span class="number badge">${bebes}</span>
			<p class="texto">Recién Nacidos<br/>Registrados</p>
		</div>
		<div class="inner-box">
			<span class="number badge">${controles}</span>
			<p class="texto">Controles<br/>Atendidos</p>
		</div>
	</div>
	<div class="fix-table">
		<table id="datatable-0" class="table table-hover table-bordered" width="99.8%" cellspacing="0">
			<thead>
				<tr>
					<th colspan="3" class="text-center">En Gestación</th>
				</tr>
				<tr>
					<th>Embarazada</th>
					<th>Celular</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				% for em in embarazadas:
					% if emb_status(em)[0]==2:
						<tr>
							<td>${em}</td>
							<td>${'{}'.format(em.telf or (em.contacto.telf if em.contacto else ''))}</td>
							<td><a href="/embarazos/gestion?id_per=${em.id_per}" class="link">Revisar</a></td>
						</tr>
					% endif
				% endfor
			</tbody>
		</table>
	</div>
</%block>