<%inherit file="../base.html"/>
<%block name="header_section">
	<style type="text/css" media="all">
		#left-content .SPbig-form .inner-container .right-side {
			min-height: 3.53in!important;
			margin: 0!important;
			padding-bottom: 0!important;
			padding: 5px!important;
		}
		@media (min-width: 640px) and (max-width: 767px) {
			[id*="fixfield"] {
				width: 100%!important;
			}
		}
		@media (min-width: 340px) {
			iframe, iframe * {
				width: 100%!important;
			}
		}
		iframe {
			margin: 0!important;
			padding: 0!important;
			width: 100%!important;
			min-height: 3.53in!important;
			border: none!important;
		}
		iframe * {
			background: transparent!important;
		}
	</style>
	<script type="text/javascript" src="${static_url('js/shortcuts.min.js')}"></script>
	<script type="text/javascript">
		$(function(){
			var btn_submit = $('button[type=submit]'), pdf_section = $('iframe');
			pdf_section.hide();
			$('form').on({
				submit:function(e){
					e.preventDefault();
					var oform = $(this);
					$.post(
						'/reportes',
						data = oform.form2Dict(),
						function(response){
							btn_submit.enable();
							pdf_section.attr({title:response.filename, type:'application/pdf', src:'data:application/pdf;base64,'+response.pdf}).show();
						}
					);
				}
			});
		});
	</script>
</%block>
<%block name="breadcrumbs">
	<ul id="breadcrumbs" class="breadcrumb">
		<li><a href="/">Inicio</a></li>
		<li class="active">Reportes</li>
	</ul>
</%block>
<%block name="left_content">
	<div class="SPbig-form">
		<div class="inner-container">
			<div class="left-side">
				<form class="customform">
					${xsrf_form_html()}
					<fieldset>
						<legend>Reportes</legend>
					</fieldset>
					<div class="row">
						<fieldset class="col-xs-6 col-sm-12 col-md-12 form-group" id="fixfield0">
							<label>Tipo</label>
							<select name="tipo" class="form-control input-sm">
								<option value="-1" disabled selected>-- Elija Uno --</option>
								<option value="1">Global</option>
								<option value="2">Red ...!</option>
							</select>
						</fieldset>
						<fieldset class="col-xs-6 col-sm-12 col-md-12 form-group" id="fixfield1">
							<label>Sub-Tipo</label>
							<select name="sub_tipo" class="form-control input-sm">
								<option value="-1" disabled selected>-- Elija Uno --</option>
								<option value="1">Municipio</option>
								<option value="2">Establecimiento</option>
							</select>
						</fieldset>
					</div>
					<div class="row">
						<fieldset class="col-xs-6 form-group">
							<label>Fecha Inicial:</label>
							<input type="text" name="f_ini" class="form-control input-sm">
						</fieldset>
						<fieldset class="col-xs-6 form-group">
							<label>Fecha Final:</label>
							<input type="text" name="f_fin" class="form-control input-sm">
						</fieldset>
					</div>
					<fieldset class="form-group">
						<button type="submit" class="btn btn-sm btn-primary">Generar</button>
					</fieldset>
				</form>
			</div>
			<div class="right-side">
				<iframe class="col-sm-12"></iframe>
			</div>
		</div>
	</div>
</%block>