{% extends "../base.html" %}
{% block header_section %}
<script type="text/javascript" src="{{ static_url("js/shortcuts.min.js") }}"></script>
<script type="text/javascript">
	$(function(){
		$('.user-profile').addClass('active');
		$('.back').on({
			click:function(e){
				e.preventDefault();
				location.href = '/';
			}
		});
	});
</script>
{% end %}
{% block breadcrumbs %}
<ul id="breadcrumbs" class="breadcrumb">
	<li><a href="/">Inicio</a></li>
	<li class="active">Perfíl</li>
</ul>
{% end %}
{% block left-content %}
<form>
	{% module xsrf_form_html() %}
	<legend>Perfíl de Usuario</legend>
	<fieldset class="form-group has-feedback">
		<label>Login:</label>
		<input type="text" name="login" class="form-control input-sm only_login" required>
	</fieldset>
	<fieldset class="form-group">
		<button type="button" class="back btn btn-sm btn-warning">Regresar</button>
	</fieldset>
</form>
{% end %}