{% extends "../base.html" %}
{% block header_section %}
<link href="{{ static_url("css/sweet-alert.min.css") }}" rel="stylesheet" media="all">
<script type="text/javascript" src="{{ static_url("js/shortcuts.min.js") }}"></script>
<script type="text/javascript" charset="iso-8859-1" src="{{ static_url("js/sweet-alert.min.js") }}"></script>
<script type="text/javascript">
	$(function(){
		$('.manager-menu, .ethnic-sub').addClass('active');
		$('button[type=button], .back').on({
			click:function(e){
				e.preventDefault();
				location.href='/etnias/gestion';
			}
		});
		$('form').on({
			submit:function(e){
				e.preventDefault();
				e.stopPropagation();
				var oform = $(this), btn_submit = $(this).find('button[type=submit]');
				//console.log(oform.form2Dict());
				btn_submit.disable().hide();
				$.post(
					'/etnias/nueva_etnia',
					data = oform.form2Dict(),
					function(response){
						if(response){
							location.href='/etnias/gestion';
						} else{
							//alert(data.nombre+', ya está registrado.\nEscoja otro nombre.');
							swal({
								title: "Error!",
								text: data.nombre+', está registrado. Use otro nombre.',
								type: "error",
								confirmButtonText: "Continuar"
							});
							$('input[name=nombre]').val('').focus();
							btn_submit.enable().show();
						}
					}
				);
			}
		});
	});
</script>
{% end %}
{% block breadcrumbs %}
<ul id="breadcrumbs" class="breadcrumb">
	<li><a href="/">Inicio</a></li>
	<li><a href="#" class="back">Naciones Indígenas</a></li>
	<li class="active">Nueva Nación Indígena</li>
</ul>
{% end %}
{% block left-content %}
<form>
	{% module xsrf_form_html() %}
	<legend>Nueva Nación Indígena</legend>
	<div class="form-group has-feedback">
		<label for="inputNombre">Nombre:</label>
		<input type="text" name="nombre" id="inputNombre" class="form-control input-sm only_g_names" required>
		<span class="form-control-feedback"></span>
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-sm btn-warning">Regresar</button>
		<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
	</div>
</form>
{% end %}