{% extends "../base.html" %}
{% block header_section %}
<link href="{{ static_url("css/sweet-alert.min.css") }}" rel="stylesheet" media="all">
<script type="text/javascript" src="{{ static_url("js/shortcuts.min.js") }}"></script>
<script type="text/javascript" charset="iso-8859-1" src="{{ static_url("js/sweet-alert.min.js") }}"></script>
<script type="text/javascript">
	$(function(){
		$('.manager-menu, .type-sub').addClass('active');
		$('button[type=button], .back').on({
			click:function(e){
				e.preventDefault();
				location.href='/tipos/gestion';
			}
		});
		var tip_name = $('#inputNombre').val();
		$('form').on({
			submit:function(e){
				e.preventDefault();
				e.stopPropagation();
				var oform = $(this), btn_submit = oform.find('button[type=submit]');
				btn_submit.disable().hide();
				$.post(
					'/tipos/modificar_tipo',
					data = oform.form2Dict(),
					function(response){
						//console.log('status: ',response);
						if(response){
							location.href='/tipos/gestion';
						} else{
							swal({
								title: "Error!",
								text: data.nombre+", está registrado. Use otro nombre.",
								type: "error",
								confirmButtonText: "Continuar"
							});
							btn_submit.enable().show()
							$('#inputNombre').val(tip_name).focus();
						}
					}
				);
			}
		});
	});
</script>
{% end %}
{% block breadcrumbs %}
<ul id="breadcrumbs" class="breadcrumb">
	<li><a href="/">Inicio</a></li>
	<li><a href="#" class="back">Tipos de Personas</a></li>
	<li class="active">Modificar Tipo</li>
</ul>
{% end %}
{% block left-content %}
<form>
	{% module xsrf_form_html() %}
	<input type="hidden" name="id_tip" value="{{tp.id_tip}}" readonly>
	<legend>Modificar Tipo</legend>
	<div class="form-group has-feedback">
		<label for="inputNombre">Nombre:</label>
		<input type="text" name="nombre" value="{{tp.nombre}}" id="inputNombre" class="form-control input-sm only_profession" required>
		<span class="form-control-feedback"></span>
	</div>
	<div class="form-group">
		<label for="inputDescrip">Descripción:</label>
		<textarea class="form-control input-sm only_comments" name="descrip" id="inputDescrip">{{'{}'.format(tp.descrip or '')}}</textarea>
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-sm btn-warning">Regresar</button>
		{% if tp.activo %}
		<button type="submit" class="btn btn-sm btn-primary">Actualizar</button>
		{% else %}
		<button type="submit" class="btn btn-sm btn-primary">Habilitar</button>
		{% end %}
	</div>
</form>
{% end %}