{% extends "../base.html" %}
{% block header_section %}
<link href="{{ static_url("css/dataTables.bootstrap.min.css") }}" rel="stylesheet" media="all">
<link href="{{ static_url("css/sweet-alert.min.css") }}" rel="stylesheet" media="all">
<script type="text/javascript" charset="iso-8859-1" src="{{ static_url("js/jquery.dataTables.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/dataTables.bootstrap.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/customPaginator.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/shortcuts.min.js") }}"></script>
<script type="text/javascript" charset="iso-8859-1" src="{{ static_url("js/sweet-alert.min.js") }}"></script>
<script type="text/javascript">
	$(function(){
		$('.manager-menu, .health-sub').addClass('active');
		$.each($('#custom .del'), function(){
			$(this).on({
				click:function(e){
					e.preventDefault();
					var o_cen = $(this).data('key'), o_del = $(this);
					swal({
						title: "Está seguro?",
						text: o_cen.nombre+", será eliminado!",
						type: "warning",
						showCancelButton: true,
						cancelButtonText: "Cancelar",
						confirmButtonColor: "#d9534f",
						confirmButtonText: "Eliminar",
						closeOnConfirm: false
					}, function(){
						$.post(
							'/centros_salud/eliminar_establecimiento',
							data = {'_xsrf':getCookie('_xsrf'),'id_cen':o_cen.id},
							function(response){
								if(response==false){
									o_del.closest('tr').find('.activo').html('Eliminado').end().find('.comunidades').html('0').end().find('.prestaciones').html('0').end().end().remove();
									swal({
										title: "Eliminado",
										text: "El establecimiento de salud \""+o_cen.nombre+"\", fué eliminado.",
										type: "success",
										confirmButtonText: "Continuar"
									});
								}
							}
						);
					});
				}
			});
		});
		var o_key = $('.breadcrumb').data('key');
		$('#add').on({
			click:function(e){
				e.preventDefault();
				location.href='/centros_salud/nuevo_establecimiento?id_com='+o_key.com;
			}
		});
		$('.delete').on({
			click:function(e){
				e.preventDefault();
				swal({
					title: 'Está seguro?',
					text: o_key.str+', será inhabilitado!',
					type: "warning",
					showCancelButton: true,
					cancelButtonText: "Cancelar",
					confirmButtonColor: "#d9534f",
					confirmButtonText: "Inhabilitar",
					closeOnConfirm: false
				}, function(){
					$.post(
						'/comunidades/elimininar_comunidad',
						data = {'_xsrf':getCookie('_xsrf'), 'id_com':o_key.com},
						function(response){
							if(!response){
								$('.status').text('Inhabilitado');
								$('#add, .delete').remove();
								swal({
									title: 'Inhabilitado',
									text: 'La comunidad "'+o_key.str+'", fué inhabilitado.',
									type: 'success',
									confirmButtonText: 'Continuar'
								});
							}
						}
					);
				});
			}
		});
		$('.networks').on({
			click:function(e){
				e.preventDefault();
				location.href='/redes_salud/gestion';
			}
		});
		$('.net').on({
			click:function(e){
				e.preventDefault();
				location.href='/municipios/gestion?id_red='+o_key.red;
			}
		});
		$('.back').on({
			click:function(e){
				e.preventDefault();
				location.href='/comunidades/gestion?id_mup='+o_key.mup;
			}
		});
		$('.edit').on({
			click:function(e){
				e.preventDefault();
				location.href='/comunidades/modificar_comunidad?id_com='+o_key.com;
			}
		});
		$('#custom').customPaginator({height:'auto'});
	});
</script>
{% end %}
{% block breadcrumbs %}
<ul id="breadcrumbs" class="breadcrumb" data-key='{"red":{{com.municipio.red_salud.id_red}},"mup":{{com.municipio.id_mup}},"com":{{com.id_com}},"str":"{{com.__str__()}}"}'>
	<li><a href="/">Inicio</a></li>
	<li><a href="#" class="networks">Redes de Salud</a></li>
	<li><a href="#" class="net">Red: {{com.municipio.red_salud}}</a></li>
	<li><a href="#" class="back">Municipio: {{com.municipio}}</a></li>
	<li class="active">Comunidad: {{com}}</li>
</ul>
{% end %}
{% block left-content %}
<div class="detail-card">
	<div class="row">
		<div class="col-sm-12">
			<dl class="dl-horizontal">
				<dt>Comunidad:</dt>
				<dd>{{com}}</dd>
				<dt>Estado:</dt>
				<dd class="status">{% if com.activo %}Habilitado{% else %}Inhabilitado{% end %}</dd>
			</dl>
		</div>
	</div>
</div>
<div class="btn-actions">
	<a href="#" class="back btn btn-sm btn-warning">Regresar</a>
	<a href="#" class="edit btn btn-sm btn-info">Editar Comunidad</a>
	{% if com.activo %}
	<a href="#" class="delete btn btn-sm btn-danger">Inhabilitar Comunidad</a>
	<a href="#" id="add" class="btn btn-sm btn-primary">Nuevo Establecimiento</a>
	{% end %}
</div>
<div class="fix-table">
	<table id="custom" class="table table-striped table-hover table-bordered table-condensed" width="99.8%" cellspacing="0">
		<thead>
			<tr>
				<th colspan="6" class="text-center">Establecimientos de Salud de la Comunidad {{com}}</th>
			</tr>
			<tr>
				<th>Establecimiento</th>
				<th>Tipo</th>
				<th>Comunidades</th>
				<th>Prestaciones</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for cs in com.centros_salud %}
			<tr>
				<td><a href="/centros_salud/modificar_establecimiento?id_cen={{cs.id_cen}}" title="Modificar">{{cs}}</a></td>
				<td>{{cs.tipo}}</td>
				<td class="activo">{% if cs.activo %}Activo{% else %}Eliminado{% end %}</td>
				<td class="comunidades">{{len(cs.comunidades)}}</td>
				<td class="prestaciones">{{len(cs.prestaciones)}}</td>
				<td>
					{% if cs.activo %}
					<a href="#" class="del link" data-key="{{dumps(dict(nombre=cs.nombre,id=cs.id_cen))}}">Eliminar</a>
					{% end %}
				</td>
			</tr>
			{% end %}
		</tbody>
	</table>
</div>
{% end%}